<div class="adminclass">
<app-jobhiring></app-jobhiring>
<br>
<h2>Scheduled Interview List </h2>
<table class="table table-striped">
    <tr>
        <th *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>
    <ng-template ngFor let-item [ngForOf]="interviewSheduledDetails">
    <tr>
        <td>{{item.panelname}}</td>
        <td>{{item.candidatename}}</td>
        <td>{{item.skill}}</td>
        <td>{{item.interviewDate}}</td>
        <td>{{item.interviewTime}}</td>
        <td>delete/update </td>
    </tr>
    </ng-template>

</table>
</div>