<div class="adminclass">
<app-jobhiring></app-jobhiring><br>

<h2>Interview Line Up<h2><br>
  <div class="container">

      <!--form [formGroup]="ScheduleInterviewform" >
        <div class="form-group"-->
<label>Select candidate</label>&nbsp;&nbsp;&nbsp;

  <select class="form-select-color: primary" aria-label="Default select example" [ngModel]="selectedObj" (ngModelChange)="onChangeObj($event)" name="sel3">
    <option [ngValue]="null"  formControlName="ScheduleInterviewform" class="form-control" >Select Candidate</option>
    <option [ngValue]="i" *ngFor="let i of candidate">{{i.name}} </option>
  
  </select>

<br><br>
  <label>Select panel</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select class="form-select-color: primary" aria-label="Default select example" [ngModel]="selectedPanelId" (ngModelChange)="onChangepanel($event)">
    <option [ngValue]="null" disabled>Select skill</option>
    <option [ngValue]="i" *ngFor="let i of uniquepanelID">{{i}}</option>
  </select>
<br><br>
  <label>Select Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select class="form-select-color: primary" aria-label="Default select example" [ngModel]="selectedDate" (ngModelChange)="onChangedate($event)">
    <option [ngValue]="null" disabled>Select Date</option>
    <option [ngValue]="i" *ngFor="let i of availableDat">{{i}}</option>
  </select>

<br><br>
  <label>Select Time</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select class="form-select-color: primary" aria-label="Default select example" [ngModel]="selectedTime" (ngModelChange)="onChangetime($event)">
    <option [ngValue]="null" >Select Time</option>
    <option [ngValue]="i" *ngFor="let i of availableTime">{{i}}</option>
  </select>
<br><br><br>
  <button type="button" class="btn btn-success"(click)="sheduleInterview()">Schedule Interview</button><br><br><br><br><br><br><br><br><br>
  <!--button type="button" class="btn btn-success">Success</button-->
  </div>
