<div class="adminclass">
  <nav class="navbar navbar-black" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/ims/adminform">Create Requirement</a>
    <a routerLink="/Dashboard" class="navbar-brand pull-right"><strong>Logout</strong></a>
  </nav>
<div class="container">
<form [formGroup]="RequirementForm" (ngSubmit)="RequirementForm.valid && OnSubmit()">

<div class="form-group">
<label for="requirementDetails"> Enter Requirement Details: </label>&nbsp;
<input id="requirementDetails" type="text" formControlName ="requirementDetails" class="form-control"><br>
</div>
<!-- <label for="SkillSet"> Enter Skill Set: </label>&nbsp;
<input id="SkillSet" type="text" formControlName ="SkillSet"><br><br><br> -->
<label for="SkillSet"> Enter Skill Set: </label>&nbsp;<br>
<select formControlName="skillId" class="form-control">
    <option [ngValue]="null" disabled>Select skill</option>
    <option *ngFor="let skill of skillSets" [ngValue]="skill.skillid">{{skill.skill}}</option>
  </select>

<br><br><br>
<label for="startDate"> Enter Start Date: </label>&nbsp;<br>
<input id="startDate" type="date" formControlName ="startDate" class="form-control"><br><br><br>

<label for="endDate"> Enter End Date: </label>&nbsp;<br>
<input id="endDate" type="date" formControlName ="endDate" class="form-control"><br><br><br>

<label for="noOfCandidates"> Enter Number of candidates: </label>&nbsp;<br>
<input id="noOfCandidates" type="number" formControlName ="noOfCandidates" class="form-control"><br><br><br>

<input  type="submit" class="btn btn-success" value="submit" /><br><br>
</form>
</div>

<!--div>
  <img [src]="bgimageadmin" alt="">
  </div-->

  </div>