.adminclass{

    background-image:url("../../../assets/images/v944-bb-16.jpg") ;
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
/*.container {
    display: table;
    width: 100%
}
label {
    display: table-cell;
    width: 1px;
    white-space: nowrap
}
span {
    display: table-cell;
    padding: 0 0 0 10px
}*/
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: lightblue;
}

table tr:nth-child(even) {
    background-color:white;
}