<!--a routerLink="/ims/jobopening">jobopening</a>&nbsp;
<a routerLink="/ims/sheduled">View/Edit shedule</a-->
    <!--nav class="navbar navbar-black" style="background-color:aliceblue;">
        <a class="navbar-brand" href="http://localhost:4200/ims/jobopening">JobOpenings</a>
      </nav>
      <nav class="navbar navbar-light bg-light" style="background-color:aliceblue;">
        <a class="navbar-brand" href="http://localhost:4200/ims/sheduled">Schedule Screen</a>
      </nav>
      <nav class="navbar navbar-light bg-light" style="background-color:aliceblue;">
        <a class="navbar-brand" href="http://localhost:4200/ims/sheduleInterview">Scheduled Interview Screen</a>
      </nav-->
      
     <mat-toolbar color="primary">
       <a mat-button routerLink="/ims/jobopening">JobOpenings</a>
       <a mat-button routerLink="/ims/sheduled" >Scheduled Screen</a>
       <!-- <a mat-button href="http://localhost:4200/ims/sheduleInterview">Scheduled Interview Screen</a> -->
       <div class="spacer"></div>
      
       <a routerLink="/Dashboard" class="navbar-brand pull-right" mat-raised-button color="accent">Log Out</a>
    </mat-toolbar>
       <!--a href="http://localhost:4200/Dashboard" class="navbar-brand pull-right"><strong>Logout</strong></a>
     </mat-toolbar>
      <!--nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"></span>
      </nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:4200/hr">Hrhome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="http://localhost:4200/ims/jobopening">JobOpenings<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="http://localhost:4200/ims/sheduled">Schedule Screen</a>
        <a class="nav-item nav-link" href="http://localhost:4200/ims/sheduleInterview">Scheduled Interview Screen</a>
      </div>
    </div>
  </nav-->
<router-outlet></router-outlet>
