<app-panelnav></app-panelnav>
<h1>“Provide availability”</h1>
<!--a routerLink="/admin">Admin</a--> 
<form [formGroup]="PanelAvailabiltyForm" (ngSubmit)="PanelAvailabiltyForm.valid && OnSubmit()">

<label for="panelid"> Enter PanelId : </label>
<input id="panelid" type="text" formControlName ="panelId" value="{{employeeId}}"><br><br><br>

<label for="availableDate"> Enter your Available Date: </label>
<input id="availableDate" type="Date" formControlName ="panelavailabledate"><br><br><br>

<label for="availableTime"> Enter your Available Time: </label>
<input id="availableTime" type="Time" formControlName ="panelavailabletime"><br><br><br>

<input type="submit" value="Submit" />